.foto-marco {
    width: 80%;
    border: 3px solid #fff;
    margin-bottom: 20px;
    overflow: hidden;
}

.foto-cv {
    width: 100%;
    display: block;
}

.seccion-lateral h3 {
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 2px;
}

.seccion-lateral p, .seccion-lateral li {
    font-size: 13px;
    color: #ccc;
}

.info-bloque h3 {
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-left: 4px solid #fff;
    font-size: 18px;
}

.info-bloque p {
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 20px;
}